.panel-heading{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.announcements-body{
  padding: 15px !important;
  font-size: 1.2em;
}

.announcement-title {
  font-style: italic;
  font-weight: bold;
}

.announcements-list {
  font-size: smaller;
  margin: 0;
}

.announcements-heading{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 !important;
}

.announcements-title{
  margin: 10px 15px 10px 15px;
  padding: 10px 15px;
}

.announcements-buttons-container{
  flex-grow: 1;
  display: flex;
  border-left: 1px solid #f2c3c9;
}

.announcement-button{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcements-progress{
  height: .1em;
  width: 100%;
}

.announcements-progress-bar{
  height: .1em !important;
  background-color: #f2c3c9 !important;
}

.announcements-progress-bar{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  background-color: #f2c3c9;
}

.announcement-button:nth-child(1),
.announcement-button:nth-child(2){
  border-right: 1px solid #f2c3c9;
}

.announcement-button:hover{
  background-color: #f2d9d9;
}