.block-container{
  font-size: 1.3em;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px;
  border-right: solid #f2dede thin;
  border-bottom: solid #f2dede thin;
}

.block-container:nth-child(6) {
  border-right: none;
}

.block-container:nth-child(4)::before{
  content: "\f0f5";
  margin-right: .3em;
  font-family: FontAwesome;
}

.schedule-panel{
  display: flex;
  flex-direction: row;
}

.panel-body{
  padding: 0 !important;
}

.progress{
  margin: 0 !important;
  border-radius: 0 !important;
  font-size: 1em !important;
}

@media only screen and (max-width: 500px) {
  .progress{
    font-size: 1em !important;
  }

  .block-container{
    font-size: .8em;
    padding: 8px 10px 8px 10px;
  }
}