.header-m {
  font-family: 'Freshman', sans-serif;
}

.glyphicon .spinning {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.header-check-box{
  float: right;
  line-height: 24px !important;
}

#mHeader:hover {
  color: #9e0b0f;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
}